.commonBg {
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.05) 10%, rgba(0, 0, 0, 0) 10%), -webkit-linear-gradient(rgba(255, 255, 255, 0.05) 10%, rgba(0, 0, 0, 0) 10%), -webkit-radial-gradient(#072367 0%, #070434 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(rgba(255, 255, 255, 0.05) 10%, rgba(0, 0, 0, 0) 10%), radial-gradient(#072367 0%, #070434 100%);
  background-size: 20px 20px,20px 20px,25% 100%;
}
.commonHeader {
  height: 6.51vh;
  margin: 20px auto 0;
  background: center bottom no-repeat;
  font-size: 36px;
  color: #00cfff;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
.sanjiao {
  content: "";
  position: absolute;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid #00cfff;
  border-bottom: 5px solid #00cfff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px 0 0;
  width: 0px;
  height: 0px;
  right: 0px;
  bottom: 0px;
}
.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.school_risingIndicators {
  position: relative;
  height: 100vh;
}
.school_risingIndicators .titlebox {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  height: 100%;
}
.school_risingIndicators .titlebox .title {
  margin: 0 auto;
  -webkit-writing-mode: vertical-lr;
          writing-mode: vertical-lr;
}
.school_risingIndicators .doubleRow_item {
  height: calc((100vh - 10px) / 3 * 2);
}
.school_risingIndicators .doubleRow_item .col_item {
  height: 100%;
}
.school_risingIndicators .row_item {
  height: calc((100vh - 10px) / 3);
}
.school_risingIndicators .row_item .col_item {
  height: 100%;
}
.school_risingIndicators .col_centeritem {
  height: calc((100% - 72px));
}
.school_risingIndicators .commonItem {
  height: calc(100% - 20px);
}
.school_risingIndicators .rightHalfItem {
  height: calc(50% - 20px);
  background: left top no-repeat;
  margin: 20px 10px 0 10px;
}
.school_risingIndicators .rightHalfItem .title {
  height: 31px;
  line-height: 30px;
  font-size: 16px;
  color: #00cfff;
  padding-left: 26px;
  margin-left: -4px;
  margin-bottom: -4px;
  background: left top no-repeat;
}
.school_risingIndicators .rightHalfItem .title > div {
  width: 206px;
  text-align: center;
}
.school_risingIndicators .rightHalfItem .content {
  opacity: 0.87;
  background: rgba(0, 207, 255, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px 0 0 0 0 0 3px 0 3px 3px;
  height: calc(100% - 31px);
  position: relative;
}
.school_risingIndicators .rightHalfItem .content::after {
  content: "";
  position: absolute;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid #00cfff;
  border-bottom: 5px solid #00cfff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px 0 0;
  width: 0px;
  height: 0px;
  right: 0px;
  bottom: 0px;
}
.school_risingIndicators .lebel_content {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  height: 100%;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
}
.school_risingIndicators .lebel_content .content_fronttitle {
  color: #F8E71C;
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
.school_risingIndicators .lebel_content .content_subtitle {
  color: #00CFFF;
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.school_risingIndicators .lebel_content .rightTitle {
  color: #F8E71C;
  margin-left: 10px;
}
.school_risingIndicators .lebel_content .rightRedTitle {
  color: #FF4646;
  margin-left: 10px;
}
.school_risingIndicators .lebel_content .content_title {
  color: #4A90E2;
  font-size: 14px;
  width: 100%;
  text-align: center;
}
.school_risingIndicators .lebel_content .content_title span {
  font-size: 12px;
}
.school_risingIndicators .leftItem {
  height: calc(100% - 20px);
  background: left top no-repeat;
  margin: 20px 10px 0 10px;
}
.school_risingIndicators .leftItem .title {
  height: 31px;
  line-height: 30px;
  font-size: 16px;
  color: #00cfff;
  padding-left: 26px;
  margin-left: -4px;
  margin-bottom: -4px;
  background: left top no-repeat;
}
.school_risingIndicators .leftItem .title > div {
  width: 206px;
  text-align: center;
}
.school_risingIndicators .leftItem .content {
  opacity: 0.87;
  background: rgba(0, 207, 255, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px 0 0 0 0 0 3px 0 3px 3px;
  height: calc(100% - 31px);
  position: relative;
}
.school_risingIndicators .leftItem .content::after {
  content: "";
  position: absolute;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid #00cfff;
  border-bottom: 5px solid #00cfff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px 0 0;
  width: 0px;
  height: 0px;
  right: 0px;
  bottom: 0px;
}
.school_risingIndicators .centerItem {
  height: calc(100% - 20px);
  background: left top no-repeat;
  margin: 20px 10px 0 10px;
}
.school_risingIndicators .centerItem .title {
  height: 31px;
  line-height: 30px;
  font-size: 16px;
  color: #00cfff;
  padding-left: 26px;
  margin-left: -4px;
  margin-bottom: -4px;
  background: left top no-repeat;
}
.school_risingIndicators .centerItem .title > div {
  width: 206px;
  text-align: center;
}
.school_risingIndicators .centerItem .content {
  opacity: 0.87;
  background: rgba(0, 207, 255, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px 0 0 0 0 0 3px 0 3px 3px;
  height: calc(100% - 31px);
  position: relative;
}
.school_risingIndicators .centerItem .content::after {
  content: "";
  position: absolute;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid #00cfff;
  border-bottom: 5px solid #00cfff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px 0 0;
  width: 0px;
  height: 0px;
  right: 0px;
  bottom: 0px;
}
.school_risingIndicators .rightItem {
  height: calc(100% - 20px);
  background: left top no-repeat;
  margin: 20px 10px 0 10px;
}
.school_risingIndicators .rightItem .title {
  height: 31px;
  line-height: 30px;
  font-size: 16px;
  color: #00cfff;
  padding-left: 26px;
  margin-left: -4px;
  margin-bottom: -4px;
  background: left top no-repeat;
}
.school_risingIndicators .rightItem .title > div {
  width: 206px;
  text-align: center;
}
.school_risingIndicators .rightItem .content {
  opacity: 0.87;
  background: rgba(0, 207, 255, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px 0 0 0 0 0 3px 0 3px 3px;
  height: calc(100% - 31px);
  position: relative;
}
.school_risingIndicators .rightItem .content::after {
  content: "";
  position: absolute;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid #00cfff;
  border-bottom: 5px solid #00cfff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px 0 0;
  width: 0px;
  height: 0px;
  right: 0px;
  bottom: 0px;
}
.flexBox {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.major_visual_basic_info_title {
  font-size: 26px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #fadb14;
  line-height: 37px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.major_visual_basic_info_content {
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #00cfff;
  line-height: 20px;
}
.major_visual_selection_situation_num {
  font-size: 24px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #44ffff;
  line-height: 33px;
}
.major_visual_selection_situation_title {
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #00cfff;
  line-height: 20px;
}
.major_visual_teach_resource_title {
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #00cfff;
  line-height: 20px;
}
.major_visual_teach_resource_number {
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #44ffff;
  line-height: 20px;
}
.major_visual_teach_reform_title {
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #00cfff;
  line-height: 22px;
}
.major_visual_teach_reform_number_large {
  font-size: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #44ffff;
  line-height: 45px;
}
.major_visual_teach_reform_number_normal {
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #44ffff;
  line-height: 22px;
}
.major_visual_teach_team_label {
  width: 160px;
  margin-right: 10px;
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #00cfff;
  line-height: 22px;
  display: inline-block;
  text-align: right;
}
.major_visual_teach_team_text {
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #44ffff;
  line-height: 22px;
}


/*# sourceMappingURL=10.3b6eee98.chunk.css.map*/