.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: center center url(/static/media/shouyebg1.4f493da0.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
}
.common-item {
  position: absolute;
  width: 11.588vh;
  height: 10.026vh;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  color: #379FB7;
  box-sizing: border-box;
}
.common-item span,
.common-item i {
  font-size: 22px;
}
.common-left {
  position: absolute;
  width: 11.588vh;
  height: 10.026vh;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  color: #379FB7;
  box-sizing: border-box;
}
.common-left span,
.common-left i {
  font-size: 22px;
}
.teacherDevelop {
  position: absolute;
  width: 11.588vh;
  height: 10.026vh;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  color: #379FB7;
  box-sizing: border-box;
  right: calc(50% + 64.6vh);
  bottom: 21.5%;
}
.teacherDevelop span,
.teacherDevelop i {
  font-size: 22px;
}
.schooleLevel {
  position: absolute;
  width: 11.588vh;
  height: 10.026vh;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  color: #379FB7;
  box-sizing: border-box;
  right: calc(50% + 48.8vh);
  bottom: 33.1%;
}
.schooleLevel span,
.schooleLevel i {
  font-size: 22px;
}
.common-right {
  position: absolute;
  width: 11.588vh;
  height: 10.026vh;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  color: #379FB7;
  box-sizing: border-box;
}
.common-right span,
.common-right i {
  font-size: 22px;
}
.studentGrowth {
  position: absolute;
  width: 11.588vh;
  height: 10.026vh;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  color: #379FB7;
  box-sizing: border-box;
  left: calc(50% + 65.2vh);
  bottom: 33.1%;
}
.studentGrowth span,
.studentGrowth i {
  font-size: 22px;
}
.manageService {
  position: absolute;
  width: 11.588vh;
  height: 10.026vh;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  color: #379FB7;
  box-sizing: border-box;
  left: 59.89%;
  bottom: 22.5%;
}
.manageService span,
.manageService i {
  font-size: 22px;
}
.centerNowTime {
  position: absolute;
  left: 50%;
  bottom: 10vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
  height: 200px;
}

.number {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  width: 68px;
  height: 76px;
  text-align: center;
  line-height: 76px;
  overflow: hidden;
}
.number i,
.number span {
  font-size: 40px;
}
.number .icon-shuzi6,
.number .icon-shuzi7,
.number .icon-shuzi8 {
  position: relative;
  top: -2px;
}
.point {
  display: inline-block;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
}
i {
  display: inline-block;
  margin: 5px 0;
  font-family: "digital-7";
}
.icon-shuzi6,
.icon-shuzi7,
.icon-shuzi8 {
  position: relative;
  top: -1px;
}

.nowTime {
  /* CLOCK */
  font-family: "digital-7";
  /*END CLOCK*/
  /* AM OR PM*/
  /*CLASS THAT CHANGES COLOR OF TEXT TO APPEAR LIKE ITS "ON"*/
}
.nowTime div.clock {
  margin: 5px 0;
}
.nowTime div.clock div {
  display: inline-block;
  position: relative;
}
.nowTime div.clock div p {
  font-size: 100px;
  position: relative;
  z-index: 100;
  color: #00CFFF;
}
.nowTime div.clock .placeholder {
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  z-index: 50;
}
.nowTime .am-pm {
  font-family: sans-serif;
  text-transform: uppercase;
  width: 20px;
}
.nowTime div.am-pm div p {
  font-size: 12px;
  font-weight: bold;
  width: 100%;
}
.nowTime .am,
.nowTime .pm {
  color: #131212;
}
.nowTime .light-on {
  color: #ffffff;
}


/*# sourceMappingURL=2.65e3446b.chunk.css.map*/